
<div class="row mt-3">
    <div class="col-md-12">
        <div class="card card-margin-bottom">
            <div class="card-header">
                <h2>Create Role</h2>
                @Html.ActionLink("List Roles", "Index", "Roles", htmlAttributes: new { @class = "link" }) | @Html.ActionLink("Manage User Role", "ManageUserRoles", "Roles", htmlAttributes: new { @class = "link" })
            </div>

            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <p>
                        Role name
                    </p> 
                    <div class="form-group">
                        @Html.TextBox("RoleName", "", new { @class = "form-control", @placeholder = "Enter Role Name", @required = "required" })
                    </div>
                    <div class="form-group mb-0 text-center">
                        <button class="btn btn-success btn-block button-blue" type="submit">Save</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

